* text=auto
.gitattributes text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.service text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.ico binary
docs/vendor/framework7/* -text
docs/projects/vendor/framework7/* -text
src/server_network_assist/desktop_ui/framework7-bundle.min.css -text
src/server_network_assist/desktop_ui/FRAMEWORK7-LICENSE.txt -text
